[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,W
ignore = E501, ANN003, ANN101, ANN102, B008, B950, D415, W503, D
max-line-length = 80
application-import-names = adso,example,tests
import-order-style = pep8
docstring-convention = google
per-file-ignores =
    tests/*:S101,ANN
    noxfile.py:ANN,D
    docs/source/conf.py:ANN,D
    src/adso/__init__.py: F401
    src/adso/*/__init__.py:F401